

.container-footer{
    background-color: #1b1b1b;
    color: aliceblue;
    height: 82px;
    margin-top: 0%;
    width: 100%;
}
.desarrolador{
    text-decoration: none;
}

.desrechos-copy{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    color: #e2e2e2;
}

.cerber0Z{
    text-decoration:none;
    color: #ff4562;
}